<include file="Common/header" />
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <h1 class="title">登录</h1>
            </header>
            <include file="Common/nav" />
            <div class="content">
                <div class="list-block" style="margin:0.75rem 0;">
                    <ul>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">用户名</div>
                          <div class="item-after">aiqbc@126.com</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">会员</div>
                          <div class="item-after">是</div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                          <div class="item-title">会员到期时间</div>
                          <div class="item-after">2018-4-17</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="list-block">
                    <ul>
                      <li>
                        <a href="#" class="item-link item-content">
                            退出登录
                        </a>
                      </li>
                    </ul>
                  </div>

            </div>   
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<include file="Common/footer" />