<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Addd Video</title>

  <!--dynamic table-->
  <link href="__PUBLIC__/adminex/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="__PUBLIC__/adminex/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/adminex/js/data-tables/DT_bootstrap.css" />

  <link href="__PUBLIC__/adminex/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/adminex/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/adminex/js/html5shiv.js"></script>
  <script src="__PUBLIC__/adminex/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common::left_mune" />
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

      
        <!--notification menu start -->
        <include file="Common::top_user" />
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
           Addd Video
        </header>
        <div class="panel-body">
              <form class="form-horizontal" role="form" method="post" action="{:U('addHalt')}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="" placeholder="Name" name="name" value="{$info.name}">                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Sort</label>
                        <div class="col-lg-10">
                            <select name="sort" id="">
                                <foreach name="SortList" item="v">
                                    <option value="{$v.id}" <if condition="$info['sort'] eq $v['id']">selected </if>>{$v.name}</option>
                                </foreach>
                            </select>                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Thumbnail</label>
                        <div class="col-lg-10">
                            <input type="file" name="image">                     
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Video Link</label>
                        <div class="col-lg-10">
                            <input type="text" name="link" class="form-control" placeholder="Video Link" value="{$info.link}">                     
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$info.id}">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>

              </form>  
        </div>
        </section>
        </div>
        </div>
        
        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->
</section>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/adminex/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/adminex/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/adminex/js/modernizr.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/adminex/js/scripts.js"></script>

</body>
</html>
