<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Update Status</title>

  <!--dynamic table-->
  <link href="__PUBLIC__/adminex/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="__PUBLIC__/adminex/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="__PUBLIC__/adminex/js/data-tables/DT_bootstrap.css" />

  <link href="__PUBLIC__/adminex/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/adminex/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/adminex/js/html5shiv.js"></script>
  <script src="__PUBLIC__/adminex/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="Common::left_mune" />
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

      
        <!--notification menu start -->
        <include file="Common::top_user" />
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
           Update Status
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>thumbnail</th>
            <th>Video Link</th>
            <th>Date</th>
            <th>Sort</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="list" item="v">
        <tr class="gradeA">
            <td>{$v.id}</td>
            <td>{$v.name}</td>
            <td><img src="/Uploads/{$v.image}" alt="" width="100"></td>
            <td>{$v.link}</td>
            <td>{$v.addtime|date="Y-m-d H:i:s",###}</td>
            <td>{$v.sortname}</td>           
            <td>
              <a class="btn btn-success" data-id="{$v.id}">OK</a>
              <a class="btn btn-danger" data-id="{$v.id}">Delete</a>
            </td>
        </tr>
        </foreach>            
        </tbody>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>thumbnail</th>
            <th>Video Link</th>
            <th>Date</th>
            <th>Sort</th>
            <th>operation</th>
        </tr>
        </tfoot>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
        
        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/adminex/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/adminex/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/adminex/js/modernizr.min.js"></script>
<script src="__PUBLIC__/adminex/js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="__PUBLIC__/adminex/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="__PUBLIC__/adminex/js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="__PUBLIC__/adminex/js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/adminex/js/scripts.js"></script>
<!-- alert -->
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/js.js"></script>

<script type="text/javascript">

    var url = "{:U('delete')}";
    var updataurl = "{:U('updateOk')}";

    $(".btn-success").click(function(event) {
          var id = $(this).data('id');
         if (id == '') {
                bulealert('请删除有效信息');
         }else{
            $.ajax({
                url: updataurl,
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                beforeSend:function(xhr){
                var index = layer.load(1, {
                      shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                }
            })
            .done(function(e) {
                layer.closeAll('loading');
                layer.msg(e.msg);
                if (e.status == 1) {
                    window.location.reload();
                }
            })
            .fail(function() {
                layer.closeAll('loading');
                bulealert('网络错误！');
            });
            
         }
    });



    $(".btn-danger").click(function(event) {
         var id = $(this).data('id');
         if (id == '') {
                bulealert('请删除有效信息');
         }else{
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                beforeSend:function(xhr){
                var index = layer.load(1, {
                      shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                }
            })
            .done(function(e) {
                layer.closeAll('loading');
                layer.msg(e.info);
                if (e.status == 1) {
                    window.location.reload();
                }
            })
            .fail(function() {
                layer.closeAll('loading');
                bulealert('网络错误！');
            });
            
         }
    });


</script>
</body>
</html>
