    <footer>
      <div class="footer_priv">
          <div class="container">
              <div class="col-md-3">
                  <div class="title">Men magazine</div>
              </div>
              <div class="col-md-6">
                
              </div>
              <div class="col-md-3">
                  <p class="txt_priv"><span class="fw600 color1">QSLIST</span> © <span id="copyright-year">2017</span> | <a href="http://www.qslist.info" class="link1">Qslist.info</a><br> </p>              
              </div>
          </div>
      </div>
    </footer>
    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <img src="__PUBLIC__/Home/loading.gif" alt="">  
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?f71f3fb5daef785db90976d2ca6a5262";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
  </body>
</html>